<%- model_class = Contrato -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:codigo) %>:</strong></dt>
  <dd><%= @contrato.codigo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @contrato.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:activo) %>:</strong></dt>
  <dd><%= @contrato.activo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @contrato.descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:carpeta) %>:</strong></dt>
  <dd><%= @contrato.carpeta %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha_inicio) %>:</strong></dt>
  <dd><%= @contrato.fecha_inicio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha_fin) %>:</strong></dt>
  <dd><%= @contrato.fecha_fin %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha_prorroga_hasta) %>:</strong></dt>
  <dd><%= @contrato.fecha_prorroga_hasta %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              contratos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contrato_path(@contrato), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              contrato_path(@contrato),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
